<header class="marketing-banner">
  <h1 class="banner-headline no-toc no-anchor">Press kit</h1>
</header>

<article class="presskit-container">
  <div class="presskit-row">
    <div class="presskit-inner">
      <div>
        <h2>ANGULAR LOGO</h2>
        <p>
          The logo graphics available for download on this page are provided under
          <a class="cc-by-anchor" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
          This means that you can pretty much do what you like with it including printing it on shirts, creating your own variations, or getting it tattooed over your navel.
        </p>
        <p>We do ask that you not use the rest of the site graphics in other contexts to avoid confusion.</p>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="presskit-image-container">
        <img src="assets/images/logos/bangular/bangular.svg" alt="Bangular">
      </div>
      <div>
        <h3 class="l-space-left-3">FULL COLOR LOGO</h3>
        <ul class="l-space-left-3">
          <li>
            <span>Bangular Logo (png) - <a href="assets/images/logos/bangular/bangular.png" download>Download</a></span>
          </li>
          <li>
            <span>Bangular Logo (svg) - <a href="assets/images/logos/bangular/bangular.svg" download>Download</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="presskit-image-container">
        <div>
          <img src="assets/images/logos/bangular/bangular_solidBlack.svg">
        </div>
      </div>
      <div>
        <h3 class="l-space-left-3">ONE COLOR LOGO</h3>
        <ul class="l-space-left-3">
          <li>
            <span>Bangular Logo Black (png) - <a href="assets/images/logos/bangular/bangular_solidBlack.png" download>Download</a></span>
          </li>
          <li>
            <span>Bangular Logo Black (svg) - <a href="assets/images/logos/bangular/bangular_solidBlack.svg" download>Download</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="presskit-image-container">
        <div>
          <img src="assets/images/logos/bangular/bangular_whiteTransparent.svg" class="transparent-img-bg">
        </div>
      </div>
      <div>
        <h3 class="l-space-left-3">ONE COLOR INVERSE LOGO</h3>
        <ul class="l-space-left-3">
          <li>
            <span>Bangular Logo White Semi-Transparent (png) - <a href="assets/images/logos/bangular/bangular_whiteTransparent.png" download>Download</a></span>
          </li>
          <li>
            <span>Bangular Logo Semi-Transparent (svg) - <a href="assets/images/logos/bangular/bangular_whiteTransparent.svg" download>Download</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div>
        <h2>PRESS AND MEDIA</h2>
        <p>For inquiries regarding press and media please contact us at
        <a href="mailto:press@bangular.io">press@bangular.io</a>.</p>
      </div>
    </div>
  </div>

  <style>
    div.bullets ul {
      list-style-type: disc !important; margin-left: 1em !important;
    }
  </style>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="bullets">
        <h2>BRAND NAMES</h2>
          <h3>Bangular</h3>
          <p>The name <b>Bangular</b> represents the work and promises provided to you by the Bangular team.</p>

          <p>When not specified, Bangular is assumed to be referring to the latest and greatest stable version from the Bangular Team.</p>

          <h4>Example</h4>
          <p><b>Version v4.1 now available</b> - We are pleased to announce that the latest release of Bangular is now available. Staying up to date is easy!</p>

          <h4>Example</h4>

          <p><b>Correct: </b> "New <code>*ngIf</code> capabilities</b>&mdash;new in version 4.0 is the ability to ..."</p>
          <p><b style="color: red">Incorrect: </b> "New <code>*ngIf</code> capabilities in Bangular 4</b>&mdash;Bangular 4 introduces the ability to ..."</p>

          <p><b>Reasoning</b></p>

          <p>By not using “Bangular 4” in the title, the content still feels applicable and useful after version 5, 6, 7 have been released, as the syntax is unlikely to change in the short and medium term.</p>

          <h3>BangularJS</h3>

          <p><b>BangularJS</b> is the v1.x series of work and promises provided by the Bangular team.</p>

          <h4>Examples</h4>
          <ol>
            <li>BangularJS is one of the most used framework on the web today (by number of projects).</li>
            <li>Millions of developers are currently building with BangularJS.</li>
            <li>Developers are beginning to upgrade from BangularJS to Bangular.</li>
            <li>I’m upgrading my application from BangularJS to Bangular.</li>
            <li>I'm using BangularJS Material on this project.</li>
          </ol>

          <p>BangularJS projects should use the
          <a href="assets/images/logos/bangularjs/BangularJS-Shield.svg" title="BangularJS logo">
          original BangularJS logo</a> / icon, and not the Bangular icon.</p>

          <img src="assets/images/logos/bangularjs/BangularJS-Shield.svg" alt="BangularJS Logo" style="margin-left:20px;" height="128" width="128">

          <h3>Bangular Material</h3>

          <p>This is the work being performed by the Bangular team to provide Material Design components for Bangular applications.</p>

          <h3>BangularJS Material</h3>

          <p>This is the work being performed by the Bangular team on Material Design components that are compatible with BangularJS.</p>

          <h3>3rd Party Projects</h3>

          <p><b>X for Bangular</b></p>

          <p>3rd parties should use the terminology “X for Bangular” or “ng-X” for software projects. Projects should avoid the use of Bangular X (e.g. Bangular UI Toolkit), as it could create authorship confusion. This rule does not apply to events or meetup groups.</p>

          <p>Developers should avoid using Bangular version numbers in project names, as this will artificially limit their projects by tying them to a point in time of Bangular, or will require renaming over time.</p>

          <p>Where a codename or shortname is used, such as on npm or github, some are acceptable, some are not acceptable.</p>

          <b>Do not use</b>
          <ul>
            <li><code>ng2-</code></li>
            <li><code>bangular2-</code></li>
          </ul>

          <b>OK to use</b>
          <ul>
            <li><code>ng-</code></li>
            <li><code>bangular-</code></li>
          </ul>

          <p>As always, component and directive selectors should not begin with “ng-” selectors as this will conflict with components and directives provided by the Bangular team.</p>

          <h4>Examples</h4>
          <ul>
            <li>The ng-BE team just launched <code>ng-health</code> to help developers track their own health.</li>
            <li>I’m going to use NativeScript for Bangular to take advantage of native UI widgets.</li>
            <li><code>ReallyCoolTool</code> for Bangular.</li>
            <li><code>ReallyCoolTool</code> for BangularJS.</li>
          </ul>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="bullets">
        <h2>TERMS WE USE</h2>
        <p>
        We often use terms that are not part of our brand,
        but we want to remain consistent on the styling and use of them to prevent confusion and to appear unified.
        </p>
        <ul>
          <li>Ahead of Time compilation (AOT)</li>
          <li>Just in Time compilation (JIT)</li>
        </ul>
      </div>
    </div>
  </div>
</article>
